<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 1ый способ задать конфиг для Inversion of Control - Всё через XML -->
    <bean id="client"
          class="ru.lebedev.entity.Client">
        <property name="name" value="Петр"/>
    </bean>

    <bean id="paymentAccount" class="ru.lebedev.entity.PaymentAccount" scope="prototype">
        <constructor-arg type="boolean" name="isAddable" value="true"/>
        <constructor-arg type="boolean" name="isPaying" value="true"/>
        <constructor-arg type="boolean" name="isTransferred" value="true"/>
    </bean>

    <bean id="loanAccount_10000Limit" class="ru.lebedev.entity.CreditAccount" scope="prototype">
        <constructor-arg type="boolean" name="isAddable" value="true"/>
        <constructor-arg type="boolean" name="isPaying" value="true"/>
        <constructor-arg type="boolean" name="isTransferred" value="true"/>
        <constructor-arg type="java.lang.Long" name="loanAmountLimit" value="10000"/>
    </bean>

    <bean id="loanAccount_1000000Limit" class="ru.lebedev.entity.CreditAccount" scope="prototype">
        <constructor-arg type="boolean" name="isAddable" value="true"/>
        <constructor-arg type="boolean" name="isPaying" value="true"/>
        <constructor-arg type="boolean" name="isTransferred" value="true"/>
        <constructor-arg type="java.lang.Long" name="loanAmountLimit" value="1000000"/>
    </bean>
</beans>